<% provide :title, "Sign in"%>
<div id = "form-wrap">
  <h1>Sign in</h1>
  <%= form_for(:session, url: sessions_path) do |f| %>

    <div class="form-element">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form-element">
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>

    <div class="form-element">
      <%= f.submit "Sign in!", class: "button red" %>
    </div>

  <% end %>
</div>
