<li class = "track">
  <div class = "play play-pause"></div>
  <div class = "pause play-pause"></div>
    <%= link_to track.title, track_path(track), class: :title %>
    <span class = "created_at">
    submitted 
    <%= time_ago_in_words(track.created_at) %> ago
    <% unless track.user_id == @user.id %>
      by
    <% end %>
  </span>
  <% if track.user_id == @user.id %>
    <%= link_to "delete", track_path(track), class: "delete", method: :delete  %>
    <%= link_to "edit", edit_track_path(track), class: "edit" %>
  <% else %>
    <%= link_to gravatar_for(track.user, size: 18), track.user %>
    <%= link_to track.user.name, track.user, class: "user-name" %>
  <% end %>
  <span class = "timer"></span> 
  <div class = "progress-bar"><span class = "progress"></span></div>
  <audio src= "<%= track.track_file.url %>"></audio>
</li>


