<% provide :title, "Update profile" %>
<div id = "form-wrap">
  <h1>Update your profile</h1>
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="form-element">
      <%= f.label :name  %>
      <%= f.text_field :name  %>
    </div>

    <div class="form-element">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="form-element">
      <%= f.label :password %>
      <%= f.text_field :password %>
    </div>

    <div class="form-element">
      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.text_field :password_confirmation %>
    </div>

    <div class="form-element">
      <%= f.submit "submit!", class: "button" %>
    </div>

  <% end %>
</div>
