<% provide(:title, @user.name) %>
<%= render 'shared/show_sidebar' %>
<div class = "audio-wrap">
  <% if signed_in? && !current_user?(@user) %>
    <div id = "follow_form">
      <% if current_user.following?(@user)  %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
    </div>
  <% end %>
  <ul class = "tracks">
  <% if @user.tracks.any? %>
    <% @user.tracks.each do |track| %>
      <%= render 'tracks/track', track: track %>
    <% end %>
  <% else %>
    <%= render 'shared/no_tracks' %>
  <% end %>
  </ul>
</div>

