<% provide(:title, @user.name) %>
<div class = "sidebar">
  <%= render 'shared/user_info' %>
  <%= render 'shared/stats' %>
  <% if current_user?(@user) && @user.bio.nil? %>
    <%= link_to 'add a bio!', edit_user_path(current_user) %>
  <% else %>
    <%= render 'shared/user_bio' %>
  <% end %>
</div>
<div class = "audio-wrap">
  <% if signed_in? && !current_user?(@user) %>
    <div id = "follow_form">
      <% if current_user.following?(@user)  %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
    </div>
  <% end %>
  <ul class = "tracks">
  <% if @user.tracks.any? %>
    <% @user.tracks.each do |track| %>
      <%= render 'tracks/track', track: track %>
    <% end %>
  <% end %>
  </ul>
</div>

