<h2>Add a track</h2>
<%= form_for @track do |f| %>
  <div class = "form-element">
    <%= f.label :title %>
    <%= f.text_field :title, class: "track" %>
  </div>

  <div class = "form-element">
    <%= f.label :track_file %>
    <%= f.file_field :track_file %>
  </div>
  <%= f.submit "Post", class: "button red" %>
<% end %>

