<header>
  <div class="header-content">
    <%= link_to image_tag("logo.png", alt: "tombo_logo"), root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "home", root_path, class: "orange" %>
          </li><li><%= link_to "about", about_path, class: "red" %>
          </li><li><%= link_to("users", users_path, class: "blue") if signed_in? %></li>
        </ul>
      </nav>
      <% if signed_in? %>
        <%= render 'shared/dropdown' %>
      <% else %>
        <%= link_to "sign in", signin_path, class: "green pull-right" %>
      <% end %>

    </div>
  </div>
</header>


