<header>
  <div class="header-content">
    <%= link_to image_tag("logo.png", alt: "tombo_logo"), root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "about", about_path, class: "orange" %>
        </li><li><%= link_to "contact", contact_path, class: "red" %>
      </li><li><%= link_to("users", users_path, class: "blue") if signed_in? %></li>
        </ul>
      </nav>

      <% if signed_in? %>
        <%= link_to "sign out", signout_path, class: "purple pull-right" %>
        <%= link_to "my profile", current_user, class: "green pull-right" %>

      <% else %>
        <%= link_to "sign in", signin_path, class: "green pull-right" %>
      <% end %>
    </div>
  </div>
</header>
