<header>
  <div class="header-content">
    <%= link_to image_tag("logo.png", alt: "tombo_logo"), root_path, id: "logo" %>
      <nav>
        <ul>
          <li><%= link_to "about", about_path, class: "about" %>
        </li><li><%= link_to "contact", contact_path, class: "contact" %>
        </li><li><%= link_to "home", root_path, class: "home" %></li>
        </ul>
      </nav>

      <% if signed_in? %>
        <%= link_to "sign out", signout_path, class: "sign-in" %>
      <% else %>
        <%= link_to "sign in", signin_path, class: "sign-in" %>
      <% end %>
    </div>
  </div>
</header>
