<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <div class="header-content">
        <%= link_to image_tag("logo.png", alt: "tombo_logo"), '#', id: "logo" %>
          <nav>
            <ul>
              <li><%= link_to "about",   '#', class: "about" %></li>
              <li><%= link_to "contact",    '#', class: "contact" %></li>
              <li><%= link_to "home", '#', class: "home" %></li>
            </ul>
          </nav>
          <%= link_to "sign-in", '#', class: "sign-in" %>
        </div>
      </div>
    </header>
    <div id = "main-content">
      <%= yield %>
    </div>  
  </body>
</html>
